:root {
    --header-text: rgb(40, 140, 220);
    --header-text2: rgb(30, 120, 170);
    --header-back: #281A40;
    --body-back: #181818;
    --body-text: rgb(183, 183, 183);
    --grad1: #30C0EF;
    --grad2: #AF2031;
    /* --header-text3: #7F10D1; */
    --header-text3: #b0b0b0;
    --desc-text: #808080;
    --link-text: #B60D45;
    --alert-text: #B60D45;
}

@font-face {
    font-family: "Dune-Rise";
    src: url("font/Dune_Rise.otf");
    src: url("font/Dune_Rise.ttf") format("ttf"),
        /* url("CustomFont.otf") format("opentype"),
    url("CustomFont.svg#filename") format("svg"); */
}

html {
    background-color: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding: 0 50px;
    background-color: var(--body-back);
    color: var(--body-text);
    font-family: Helvetica, Arial, sans-serif;
}

.exaggeration {
    color: var(--alert-text);
}

h1.logo,
.logo {
    font-family: Dune-Rise;
    /* font-variant: small-caps; */
    font-size: 18px;
    /* color: rgb(240, 240, 200); */

    background: linear-gradient(to right, var(--grad1), var(--grad2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1,
h2,
h3 {
    color: var(--header-text2);
}

a {
   color: var(--link-text);
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#nav_container{
    margin: 0;
    padding: 0;
    opacity: 0.85;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}


nav {
    position: fixed;
    top: 10px;
    left: 2%;
    width: 96%;
    /* background-color: var(--header-back); */
    /* background: linear-gradient(to top right, #481038, #151031); */
    background: linear-gradient(to top right, #333, #111);
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    border-radius: 15px;

}

nav ul {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    /* color: var(--header-text); */
    text-decoration: none;
    padding: 5px;
    position: relative;

    background: linear-gradient(to right, var(--header-text), var(--header-text2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul li a.active {
    /* border-bottom: 2px linear-gradient(to right, #66d, #0d0); */
    border-bottom: 2px linear-gradient(to right, var(--grad1), var(--grad2));
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, var(--grad1), var(--grad2));
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}

main {
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    background-color: #111;
    color: rgb(183, 183, 183);
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #777;
}

/* #contact-form {
} */

#comments-table {
    text-align: left;
}

.form-label {
    display: inline-block;
    width: 100px;
    text-align: left;
    vertical-align: top;
}


textarea, input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #333;
    color: var(--body-text);
}

.form-comment {
    min-height: 200px;
}

/* Home */

.container-body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    /* max-width: 1024px; duplicated with .container */ 
    margin: 0 auto;
    padding: 20px;
    align-items: flex-start;
}
.app-header {
    flex-basis: 70%;
    text-align: left;
    margin-bottom: 20px;
    width: 1000px;
    padding: 20px;
}
.app-icon {
    display: block;
    margin: 0 auto;
    width: 128px;
    float: left;
}
.app-title {
    float: left;
    padding: 20px;
    padding-top: 0;
}
.app-title h1 {
    font-size: 36px;
    color: var(--header-text3);
}
.app-desc {
    padding-left: 10px;
    margin-top: -20px;
    color: var(--desc-text);
}

.home-features {
    flex-basis: 50%;
    padding: 10px;
    width: 50%;
}
.screenshot {
    width:30%;
    flex-basis: 30%;
    padding: 20px;
    padding-top: 20px;
    text-align: center;
}
.thumbnail {
    padding-top: 50px;
    width: 320px;
    height: 180px;
    cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.overlay img {
    max-width: 80%;
    max-height: 80%;
}

.home-features ul li {
    padding-bottom: 10px;
}

.license {
    margin-top: 40px;
    margin-bottom: 40px;
}

.spec,
.donation {
    margin-bottom: 40px;
}

.download_info{
    margin-bottom: 100px;
}